@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Contoso Hospital<br />
    Pitmapura, New Delhi<br />
    <abbr title="Phone">P:</abbr>
    011-23123456
</address>
