@model Contoso.Models.AppointmentModel
@{
    ViewBag.Title = "BookingAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.did != null)
{
    foreach (var item in (Dictionary<int, TimeSpan>)ViewBag.did)
    {
        <p>@item.Key</p>
        <p>@item.Value</p>
    }
}
