@model Contoso.Models.AppointmentModel
@{
    ViewBag.Title = "Done";
}


<div class="row">
    <div class="col-sm-4 col-lg-8">
        <div class="panel panel-info">
                @if (ViewBag.availableSlots != null)
                {
                    foreach (var user in (Dictionary<int, Dictionary<TimeSpan, string>>)ViewBag.availableSlots)
                    {
                        <table>
                            <tr>
                                <td>
                                @foreach(var dic in (Dictionary<TimeSpan, string>)user.Value){
                                
                                   <table>  
                                       <tr> 
                                           <td>     
                                            @dic.Key
                                            </td>
                                        @if (dic.Value == "Available")
                                        {
                                        
                                            using (Html.BeginForm("BookingAppointment", "Appointment", FormMethod.Post, new { role = "form" }))
                                            {
                                                <td>
                                                 @Html.ActionLink("Slots Available!", "BookingAppointment", new { SlotTime = @dic.Key,
                                                DoctorId = @user.Key,
                                                SlotSelected = true
                                            }, new {id="actionLink", onclick="alert('Press OK to confirm your booking!');"})
                                                    </td>
                                              }
                                        }
                                        else
                                        {
                                            <td>
                                                <button type="submit" class="btn btn-danger disabled" role="button">Already Booked!</button>
                                           </td>
                                        }
                                           </tr>
                                       </table>

                                    }
                                    </td>
                            </tr>
                        </table>
                    }
                }
            
        </div>
    </div>
</div>





