@model Contoso.Models.AppointmentModel
@{
    ViewBag.Title = "Done";
}


<div class="row">
    <div class="col-sm-4 col-lg-8">
        <div class="panel panel-info">
           @if (Model.SelectedDoctors != null) { 
           foreach (var doc in Model.SelectedDoctors)
           {
                    <table>
                        <tr>
                            <td>
                                @doc.Speciality
                            </td>
                        </tr>
                    </table>
                }
            }
        </div>
    </div>
</div>
